body  {
    background-color: peachpuff;
    color: darkblue;
    font-family: Georgia, 'Times New Roman';
} 

h1{
    color: purple;
    font-family: "Rubik", sans-serif;
    text-align: center;
  }

  a{
    font-style: italic;
  }

div p{
  font-weight:bold;
  line-height: 1.7;
}

p{
  line-height: 1.3;
}