body  {
    background-color: peachpuff;
    color: darkblue;
    font-family: Georgia, 'Times New Roman';
    line-height: 1.8;
    font-size: 20px;
} 

h1{
    color: purple;
    font-family: "Rubik", sans-serif;
    text-align: center;
  }

  a{
    font-style: italic;
  }

div p{
  font-weight:bold;
  font-size: 100%;
  text-align: justify;
  width: 70%;
  height: 90%;
  border: 2px dashed lightsalmon;
  margin-left: 15%;
  margin-top: 50px;
  }


#choices{
  margin: 20px auto;
  padding: 15px;
  max-width: 310px;
  border: 2px solid lightcoral;
}

ol{
  margin-left: 50px;
}

.learn{
  margin-left: 90px;
  margin-top: 30px; 
}

.else{
  text-align: center;
  border: 2px solid lawngreen;
  font-weight: bold;
  margin-bottom: 40px;
}


.step{
  display: flex;
  justify-content: flex-end;
  
}

.hero {
  /* free image downloaded from freepngclipart.com */
  background-color: white;
  background-image: url(./images/flourish.jpg);
  width: 100%;
  height: 100px;
  background-position: center;
  background-repeat: no-repeat;
}